//- index.pug


extends template
include createPictMixin.pug
block variables
	- var title = 'Страница с капибарами'
block content 
	.pictureBlock
		+createPicture

		+createPicture

		+createPicture
		
		+createPicture
	.centerBlock
		.item-left.
			> 1) Вершинами в диаграмме Use Case являются актеры и элементы Use Case.
			>
			> Актеры представляют внешний мир, нуждающийся в работе системы. Элементы
			> Use Case представляют действия, выполняемые системой в интересах актеров.
			>
			> Элемент Use Case — это описание последовательности действий (или
			> нескольких последовательностей), которые выполняются системой и производят
			> для отдельного актера видимый результат.
			>
			> Один актер может использовать несколько элементов Use Case, и наоборот,
			> один элемент Use Case может иметь несколько актеров, использующих его.
			> Каждый элемент Use Case задает определенный путь использования системы.
			> Набор всех элементов Use Case определяет полные функциональные возможности
			> системы.
			>
			> Под нашим программным средством будем подразумевать “Агрегатор точек
			> питания на кампусе”. Тогда в нашем программном средстве было бы 10 овалов,
			> а именно: Найти точку общественного питания, который расширяется до Найти
			> точку общественного питания в заданном радиусе от пользователя, Найти
			> точку общественного питания с заданным блюдом, Найти точку общественного
			> питания с заданным средним чеком, Найти точку общественного питания с
		.item-up.
			> Т.е функциональные требования описываются
			еобходимо реализовать, в то время как в пользовательских требованиях
			> указываются действия, которые клиенты смогут делать с помощью системы.
			> Пример (Агрегатор точек питания):
			> Пользовательское требование для АТП: у пользователя должна быть
			> возможность сделать заказ.
			> Функциональные требования к АТП:
			> 1) Получить информацию о банковской карте пользователя;
			> 2) Получить информацию о заказе;
			> 3) Проверить баланс пользователя;
			> 4) Подтвердить заказ пользователя.
		.item-buttom. 
			> Т.е функциональные требования описываются
			еобходимо реализовать, в то время как в пользовательских требованиях
			> указываются действия, которые клиенты смогут делать с помощью системы.
			> Пример (Агрегатор точек питания):
			> Пользовательское требование для АТП: у пользователя должна быть
			> возможность сделать заказ.
			> Функциональные требования к АТП:
			> 1) Получить информацию о банковской карте пользователя;
			> 2) Получить информацию о заказе;
			> 3) Проверить баланс пользователя;
			> 4) Подтвердить заказ пользователя.

  