body 
    background-color #95b3d7

.mainBlock 
	background-color white
	padding-left 1%
	padding-right 1%
	margin 20px auto
	width 75%
	border black solid 1px

.menuBlock 
	display flex
	width 100%
	height 25px
	justify-content center
	border 0px
	margin-top 10px
	margin-bottom 10px

.pictureBlock 
	display flex
	justify-content space-between
	width 100%
	& > img 
		width 24%
		height 180px

.centerBlock 
	width 100%
	margin-top 20px
	display grid
	gap 2%
	grid-template-areas "left up" "left buttom"

.centerBlock .item-left 
		grid-area left
		background-color #bfbfbf
		border solid black 1px

.centerBlock .item-buttom 
		grid-area buttom
		border solid black 1px
		background-color #958853

.centerBlock .item-up 
		grid-area up
		margin-bottom 3.5%
		border solid black 1px
		background-color #ccc2da

.footer 
	display flex
	width 100%
	background-color #cb594e
	border solid black 1px
	margin-top 30px
	margin-bottom 10px

@media (max-width: 1000px)
.pictureBlock 
    width 100%
    background-color black
    align-items center
    flex-direction column
    img 
        width 70%
        margin-bottom 10px
.centerBlock 
    width 100%
    margin-top 10px
    margin-bottom 50px
    grid-template-areas "left"
        "left"
        "up"
        "buttom"
    & > .item-up 
        margin-bottom 10px
    & > .item-left 
        margin-bottom 10px