//- template.pug
block variables
doctype html
html(lang="ru")
    head
        <link rel="stylesheet" href="css\main.css">
        title #{title}
    body
        block mainBlock
        .mainBlock
            block header
                .menuBlock.
                    menu1 menu2 menu3
            block content
            block footer
                .footer.
                    gfhjkl;k
